@model IEnumerable<GoldenWayDuties.Models.Taskitem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Taskitem</h2>
@if (!Model.Any())
{
    <p>Currently no Taskitems listed</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Taskitem</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, null)</td>
                    <td>@item.Genre.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

