@model IEnumerable<GoldenWayDuties.Models.Taskitem>
@{
    ViewBag.Title = "Taskitems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Taskitems</h2>

<p>
    @Html.ActionLink("New Taskitem", "New","Taskitems",null, new { @class = "btn btn-primary"})
</p>

<table id="taskitems" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Taskitem</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#taskitems").DataTable({
                ajax: {
                    url: "/api/taskitems",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, taskitem) {
                            return "<a href='/taskitem/edit/" + taskitem.Id + "'>" + taskitem.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-taskitem-id=" + data + ">Delete</button>";
                        }
                    }

                ]

            });

            $("#taskitems").on("click","js-delete", function () {
                var button = $(this);
                if (confirm("Would you like to delete?")) {
                    $.ajax({
                        url: "/api/taskitems/" + button.attr("data-taskitem-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    </script>
}

@*
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $("#taskitems .js-delete").on("click", function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure to delete", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/taskitems/" + button.attr("data-taskitem-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });
                });
            });
        </script>
    }
*@




